@import url('./misc/fontawesome-free-5.6.3-web/css/all.css');
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* *{padding:0;margin:0;box-sizing: border-box;}
.Loading-screen{
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.Loading-screen .loadnig-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.Loading-screen .loadnig-container:after{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left:0;
  top:0;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,1);
  border-top: 4px solid rgbA(0, 119, 255 ,1);
  animation: rotating 1s infinite;
}

@keyframes rotating{
  0%{transform:  translate(-50% , -50%) rotateZ(0deg);}
  100%{transform: translate(-50% , -50%) rotateZ(360deg) }
} */